@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_LayoutHeadPartialComponent")

<body>

    @await Component.InvokeAsync("_LayoutPreloaderPartialComponent")

    <div id="main-wrapper">


        @await Component.InvokeAsync("_LayoutNavHeaderPartialComponent")

        @await Component.InvokeAsync("_LayoutHeaderPartialComponent")

        @await Component.InvokeAsync("_LayoutSidebarPartialComponent")

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        @await Component.InvokeAsync("_LayoutFooterPartialComponent")

    </div>

    @await Component.InvokeAsync("_LayoutScriptPartialComponent")

</body>

</html>
